.attribution {
  background-color: $very-dark-blue;
  color: #ccc;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 1.2px;
  font-size: 12px;
}
.attribution__light {
  background-color: $very-light-gray;
  color: $very-dark-blue-light-mode;
}
