header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $dark-blue;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  z-index: 10;
  .container {
    padding: 15px 0;
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    h1 {
      font-size: 20px;
      padding-top: 5px;
      font-weight: 600;
    }
    .mode__container {
      cursor: pointer;
      font-weight: 600;
      display: flex;
      .mode {
        margin-left: 10px;
      }
    }
  }
}
.header__light {
  background-color: $white;
  .container {
    color: $very-dark-blue-light-mode;
  }
}
