header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2b3945;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

header .container {
  padding: 15px 0;
  width: 84%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

header .container h1 {
  font-size: 20px;
  font-weight: 600;
}

header .container .mode__container {
  cursor: pointer;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .mode__container .mode {
  margin-left: 10px;
}

.search__bar {
  width: 460px;
  height: 60px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .search__bar {
    width: 100%;
    margin-bottom: 20px;
  }
}

.search__bar .search__bar__container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #2b3945;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 25px;
}

.search__bar .search__bar__container input {
  background-color: inherit;
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
  padding: 0 10px;
  font-family: inherit;
  color: white;
  font-size: 16px;
}

.search__bar .search__bar__container input::-webkit-input-placeholder {
  color: #ccc;
}

.search__bar .search__bar__container input:-ms-input-placeholder {
  color: #ccc;
}

.search__bar .search__bar__container input::-ms-input-placeholder {
  color: #ccc;
}

.search__bar .search__bar__container input::placeholder {
  color: #ccc;
}

.search__bar .search__bar__container .search__icon {
  cursor: pointer;
  padding-top: 2px;
}

.countries__list {
  display: -ms-grid;
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 60px;
}

.countries__list .countries__card {
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.countries__list .countries__card .countries__card__container {
  height: 100%;
  background-color: #2b3945;
  border-radius: 5px;
  overflow: hidden;
}

.countries__list .countries__card .countries__card__container .flag {
  height: 45%;
}

@media screen and (max-width: 1200px) {
  .countries__list .countries__card .countries__card__container .flag {
    height: 50%;
  }
}

@media screen and (max-width: 550px) {
  .countries__list .countries__card .countries__card__container .flag {
    height: auto;
  }
}

.countries__list .countries__card .countries__card__container .flag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.countries__list .countries__card .countries__card__container .text__content {
  color: white;
  padding: 0 20px;
}

.countries__list .countries__card .countries__card__container .text__content .name {
  font-size: 18px;
  margin: 20px 0 15px 0;
}

.countries__list .countries__card .countries__card__container .text__content .country__details__list {
  margin-bottom: 50px;
}

.countries__list .countries__card .countries__card__container .text__content .country__details__list li {
  list-style: none;
  line-height: 1.8;
}

.countries__list .countries__card .countries__card__container .text__content .country__details__list li span {
  color: #ccc;
}

.filters__container {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: white;
}

.filters__container .toggle__filters {
  background-color: #2b3945;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.filters__container .toggle__filters:hover {
  color: #ccc;
}

.filters__container .toggle__filters .toggle__filters__text {
  padding-right: 40px;
}

.filters__container .regions {
  display: none;
  border-radius: 5px;
  background-color: #2b3945;
  width: 100%;
  margin-top: 5px;
}

.filters__container .regions .regions__list {
  padding: 10px 0;
}

.filters__container .regions .regions__list li {
  list-style: none;
  line-height: 2.2;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.filters__container .regions .regions__list li:hover {
  color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app__container {
  margin: auto;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #202c37;
}

.app__container .wrapper {
  max-width: 2000px;
  min-width: 250px;
  width: 85%;
  margin: 100px auto auto auto;
}

.flex__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=app.css.map */