.previous__button__container {
  padding: 5px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.previous__button__container .previous__button {
  width: 100%;
  position: relative;
  background-color: #2b3945;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 5px;
  padding: 2px 0px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.previous__button__container .previous__button:hover {
  color: #ccc;
}

.previous__button__container .previous__button .arrow__icon {
  padding-top: 3px;
  width: 25px;
}

.previous__button__container .previous__button .arrow__icon img {
  width: 100%;
}

.previous__button__container .previous__button span {
  margin-left: 7px;
}

.border__countries__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

@media screen and (max-width: 650px) {
  .border__countries__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.border__countries__container h4 {
  padding-right: 20px;
}

@media screen and (max-width: 650px) {
  .border__countries__container h4 {
    padding-bottom: 15px;
  }
}

.border__countries__container .border__countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border__countries__container .border__countries .border__country__container {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.border__countries__container .border__countries .border__country__container .border__country {
  background-color: #2b3945;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.border__countries__container .border__countries .border__country__container .border__country:hover {
  color: #ccc;
}

@media screen and (max-width: 1100px) {
  .border__countries__container .border__countries .border__country__container .border__country {
    padding: 5px 30px;
  }
}

@media screen and (max-width: 650px) {
  .border__countries__container .border__countries .border__country__container .border__country {
    padding: 5px 15px;
  }
}

.detail__content {
  margin-top: 50px;
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(300px, 1500px))[2];
      grid-template-columns: repeat(2, minmax(300px, 1500px));
  gap: 130px;
}

@media screen and (max-width: 1100px) {
  .detail__content {
    gap: 80px;
  }
}

@media screen and (max-width: 1100px) {
  .detail__content {
    -ms-grid-columns: minmax(100px, 800px);
        grid-template-columns: minmax(100px, 800px);
  }
}

.detail__content .flag__container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}

.detail__content .flag__container .flag {
  width: 100%;
}

.detail__content .flag__container .flag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.detail__content .details__text__content {
  margin-top: 50px;
  width: 90%;
  margin: auto;
}

.detail__content .details__text__content h1 {
  font-size: 35px;
  margin-bottom: 30px;
}

.detail__content .details__text__content .detail__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .detail__content .details__text__content .detail__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .detail__content .details__text__content .detail__lists .first__list {
    margin-bottom: 30px;
  }
}

.detail__content .details__text__content .detail__lists li {
  list-style: none;
  line-height: 2.2;
}

.detail__content .details__text__content .detail__lists li span {
  color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.details__container {
  margin: auto;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #202c37;
}

.details__container .wrapper {
  max-width: 2000px;
  min-width: 250px;
  width: 85%;
  margin: 150px auto auto auto;
}

.details__container .container {
  max-width: 2000px;
  min-width: 250px;
  width: 86.5%;
  margin: auto;
}

@media screen and (max-width: 650px) {
  .details__container .container {
    width: 90%;
  }
}
/*# sourceMappingURL=details.css.map */